<html>
<head><title>RESULT</title></head>
<body>
<table border="1"  width="30%" align="center">
    <tr>
        <td>Percentile</td>
        <td>Android</td>
        <td>iPhone</td>
        <td>iPad</td>
        <td>Macintosh</td>
    </tr>
    <tr>
        <td>50</td>
        <td>{{ a50 }}</td>
        <td>{{ iph50 }}</td>
        <td>{{ ipa50 }}</td>
        <td>{{ mac50 }}</td>
    </tr>
    <tr>
        <td>75</td>
        <td>{{ a75 }}</td>
        <td>{{ iph75 }}</td>
        <td>{{ ipa75 }}</td>
        <td>{{ mac75 }}</td>
    </tr>
    <tr>
        <td>95</td>
        <td>{{ a95 }}</td>
        <td>{{ iph95 }}</td>
        <td>{{ ipa95 }}</td>
        <td>{{ mac95 }}</td>
    </tr>
    </tr>
</table>
</body>
</html>
